img {
    border: 1px solid black;
}

input[type=text] {
    display: block;
}

input[type=number] {
    display: block;
}

.lvl1 {
    margin: 15px 0px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.lvl2 {
    margin: 15px 5px 15px 5px;
}

#fileList {
    margin: 5px;
}

