body {
    font-family: Verdana, Geneva, sans-serif;
}

img {
    display: block;
}

input[type=range] {
    display: block;
}

input[type=number], input[type=text] {
    display: block;
    margin: 5px 0px 5px 0px;
}

h1 {
    font-size: 2.0em;
}

header {
    font-size: 1.5em;
}

nav, .lvl1 {
    margin: 15px 0px;
    padding: 5px;
    border: 1px solid #888888;
    border-radius: 5px;
}

.lvl2 {
    margin: 15px 5px 15px 5px;
}

.equation {
    margin: 0px 0px 0px 20px;
}

.conditional {
    margin: 5px 0px 5px 10px;
    font-weight: bold;
}

.root, .dir {
    cursor: default;
}

#fileList {
    margin: 5px;
}

#histogramCont {
    display: block;
    overflow: auto;
    height: auto;
}
